<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ORVBA"
        tools:targetApi="31">

        <activity
            android:name="base.StartActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- <activity -->
        <!-- android:name=".RegisterUser" -->
        <!-- android:exported="false" /> -->
        <!-- <activity -->
        <!-- android:name=".UserLogin" -->
        <!-- android:exported="false" /> -->

        <activity android:name="base.MechanicListActivity" />
        <activity android:name="base.PostDetailsActivity" />
        <activity android:name="base.UserActivity" />
        <activity android:name="base.ViewFeedbackActivity" />
        <activity android:name="base.admin.AdminActivity" />
        <activity android:name="base.ApproveMechanicActivity" />
        <activity android:name="base.FeedbackActivity" />
        <activity android:name="base.MechanicActivity" />
        <activity android:name="base.AddNotedActivity" />
        <activity android:name="base.admin.AdminDashboardActivity" />
        <activity android:name="base.auth.SignUpActivity" />
        <activity android:name="base.auth.ForgotPasswordActivity" />
        <activity android:name="base.auth.LoginActivity" />


    </application>

</manifest>